SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
FOOTBAL_DATA_ORG_API_KEY=your_football_data_org_api_key
FOOTBALL_DATA_ORG_COMPETITION=WC
FOOTBALL_DATA_ORG_SEASON=2026
REDIS_HOST=redis-example.redislabs.com
REDIS_PORT=1234
REDIS_PASSWORD=xxxxx
CRON_SECRET=your_cron_secret